@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #fff;
  background-color: rgb(12, 87, 10);
}

::-moz-selection {
  color: #fff;
  background-color: rgb(5, 99, 13);
}

/* 
@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
}

 */

/* reusable */

.color-dl {
  @apply font-medium text-gray-800 dark:text-gray-300;
}

.border-dl {
  @apply border border-green-400 dark:border-green-600;
}

/* ted2xmen */
.badge {
  @apply border-dl color-dl mx-1 mt-3 inline-flex rounded-lg  p-1 text-sm;
}

.badge-2 {
  @apply mx-2 rounded-lg bg-green-800 p-1   text-sm font-medium text-gray-200 opacity-80 transition-all dark:bg-green-900  dark:text-gray-100;
}

.page-title {
  @apply pt-3 text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-3xl sm:leading-10 md:text-5xl md:leading-14;
}

.underline-green {
  @apply font-semibold tracking-wide text-black underline decoration-green-500 decoration-2 dark:text-white;
}

.underline-teal {
  @apply font-semibold tracking-wide text-black underline decoration-teal-500 decoration-2 dark:text-white;
}

.underline-yellow {
  @apply font-semibold tracking-wide text-black underline decoration-yellow-500 decoration-2 dark:text-white;
}

.lastfm-box {
  @apply m-2 inline-flex items-center space-x-3 rounded-lg border-2 border-green-700 p-2 px-2 text-gray-800 shadow-md backdrop-blur-lg dark:text-gray-300;
}

/* project section */

.project-title {
  @apply mb-3 text-2xl  font-bold leading-8 tracking-tight;
}

.project-link {
  @apply text-base font-medium leading-6  text-green-600 dark:hover:text-green-400;
}

.project-desc {
  @apply prose mb-3 flex h-40 max-w-none overflow-y-auto py-4 text-gray-500 dark:text-gray-500 hover:dark:text-gray-400;
}

.project-card-body {
  @apply overflow-hidden rounded-md border border-gray-200 border-opacity-60 shadow-xl dark:border-gray-700;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
