---
import { type CollectionEntry, getCollection } from "astro:content";
import AppLayout from "../../layouts/AppLayout.astro";
import Breadcrumb from "../../components/shared/Breadcrumb";
import moment from "moment";
import { CalendarIcon } from "@radix-ui/react-icons";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<AppLayout {...post.data}>
  <h1 class="text-center mb-5">{post.data.title}</h1>
  <div class="flex items-center text-xs gap-2">
    <CalendarIcon />
    {moment(post.data.pubDate).format("ll")}
  </div>
  <Breadcrumb />
  <article class="p-5 my-5 border rounded-xl border-gray-800 shadow w-full">
    <Content />
  </article>
  <Breadcrumb />
</AppLayout>
