.badge {
    padding: 3px 6px;
    background-color: rgb(2, 87, 2);
    border-radius: 4px;
    font-size: 14px;
    color: white;
    white-space: nowrap;
}

.badgeContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 8px;
}