.home {
  padding: calc(2rem + 1vw);
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  margin-top: 20px;
  font-size: calc(3rem + 1vw);
  font-weight: 800;
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(134, 239, 172),
    rgb(22, 101, 52),
    rgb(74, 222, 128)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-size: calc(0.6rem + 1vw);
  color: gray;
  text-align: end;
  padding-top: 6px;
  margin-top: 8px;
}

.wrapper {
  padding: 32px 0px;
  text-align: center;
}

.paragraph {
  color: rgb(197, 188, 188);
  font-size: calc(0.8rem + 1vw);
  line-height: calc(1.2rem + 1vw);
  line-height: 1.4;
  margin: 0;
}

.social {
  margin: 12px 4px;
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
