---
import Badge from "../components/shared/Badge";
import Biography from "../components/shared/Biography";
import { ABOUT_DATA, HOME_DATA } from "../consts";
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout
  title="About"
  description={HOME_DATA.biography}
  pubDate={new Date("February 08 2024")}
  heroImage="/blog-placeholder-about.jpg">
  <div class="text-xl font-bold text-main pb-5">Tuğrul Erdem Dogru</div>
  <div class="text-lg my-3 text-main/40">
    photographer / developer / phd student
  </div>
  <Biography info={HOME_DATA.biography} image={HOME_DATA.image} />
  <section class="flex flex-col justify-between">
    <div
      class="flex gap-5 rounded-lg justify-center max-w-4xl my-8 flex-wrap text-sm">
      {
        ABOUT_DATA.stack?.map((item: string, i: number) => {
          return <Badge label={item} />;
        })
      }
    </div>
  </section>
</AppLayout>
